---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
---

<header>
  <nav class="flex items-center justify-between">
    <a href="/" class="py-2"><Image src="/img/avatar_aman.png" alt="avatar" width={60} height={60} class="rounded-full"/></a>
    <div class="flex gap-8">
      <HeaderLink href="/">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%); 
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
