---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
---

<header class="bg-white shadow-sm py-0 px-4">
  <nav class="flex items-center justify-between">
    <a href="/" class="py-2">
      <Image src="/img/avatar_aman.png" alt="avatar" width={60} height={60} class="rounded-full"/>
    </a>
    <div class="flex gap-8">
      <HeaderLink href="/" >About</HeaderLink>
      <HeaderLink href="/blog" >Blog</HeaderLink>
    </div>
  </nav>
</header>
