---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from "tailwind-merge"

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const activeClass = isActive ? 'font-bold underline' : '';
---

<a href={href} class={twMerge("inline-block no-underline", className, activeClass)} {...props}>
	<slot />
</a>
